<div *ngIf="poolGroupModel == null">Loading...</div>
<template [ngIf]="poolGroupModel != null">
    <section class="hero is-danger">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {{poolGroupModel.coin.name}}
                </h1>
                <div class="field is-grouped is-grouped-multiline">
                    <div class="control">
                        <div class="tags has-addons">
                            <span class="tag is-dark icon"><i class="far fa-globe"></i></span>
                            <span class="tag">{{poolGroupModel.pool.shortlocation}}</span>
                        </div>
                    </div>

                    <div class="control">
                        <div class="tags has-addons">
                            <span class="tag is-dark icon"><i class="far fa-dna"></i></span>
                            <span class="tag">{{poolGroupModel.algo.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a [routerLink]="routes.homeRoute.toUrl()">Home</a></li>
                <li><a [routerLink]="routes.poolRoute.toUrl()">Pools</a></li>
                <li class="is-active"><a [routerLink]="routes.poolIdRoute.toUrl(urlParameters)" aria-current="page">
                    {{poolGroupModel.coin.name}}
                    - {{poolGroupModel.algo.name}}
                    - {{poolGroupModel.pool.shortlocation}}</a></li>
            </ul>
        </nav>
    </div>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="tile">
                    <div class="column">
                        <div class="content">
                            <div class="pool-stats">
                                <h4>Pool stats</h4>
                                <p>
                                    <span>Hashrate: {{poolGroupModel.poolStats?.hashrate | hashrate:poolGroupModel.algo.hashUnit:'unavailable'}}</span><br>
                                    <span>Miners: {{poolGroupModel.poolStats?.getActiveMinersCount()}}</span><br>
                                    <br>
                                </p>
                            </div>
                            <div class="network-stats">
                                <h4>Network stats</h4>
                                <p>
                                    <span>Difficulty: {{poolGroupModel.poolStats?.difficulty | difficulty:'unavailable'}}</span><br>
                                    <span>Block height: {{poolGroupModel.poolStats?.blockHeight}}</span><br>
                                    <span>Net Hash: {{poolGroupModel.poolStats?.networkHashrate | hashrate:poolGroupModel.algo.hashUnit}}</span><br>
                                    <br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Address</th>
                            <th>Hashrate</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Address</th>
                            <th>Hashrate</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr *ngFor="let miner of poolGroupModel.poolStats?.getActiveMiners()">
                            <th>{{miner.address}}</th>
                            <th>{{miner.hashrate | hashrate:poolGroupModel.algo.hashUnit}}</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

</template>