<section id="hero" class="hero is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                <img src="/chainaxe_web.svg" alt="ChainAxe">
            </h1>
            <h2 class="subtitle is-size-3">
                Crypto Education and Mining pools
            </h2>
        </div>
    </div>
</section>
<section class="section" id="index-view">
    <div class="container">
        <div class="columns">
            <div class="column"><h1>TODO: Home Page</h1></div>
        </div>
    </div>
</section>