<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Pools
            </h1>
        </div>
    </div>
</section>
    <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a [routerLink]="routes.homeRoute.toUrl()">Home</a></li>
                <li class="is-active"><a [routerLink]="routes.poolRoute.toUrl()" aria-current="page">Pools</a></li>
            </ul>
        </nav>
    </div>
<div *ngIf="!isLoaded"><h1 class="title">Loading</h1></div>
<section *ngIf="isLoaded" class="section" id="pool-view">
    <div class="container">
        <div class="columns">
            <div class="column">Last updated: {{lastUpdated | duration}} ago</div>
        </div>
        <div class="columns is-multiline is-centered">
            <div *ngFor="let poolGroupModel of poolGroupList" class="column is-one-third content">
                <pool-group [poolGroupModel]="poolGroupModel"></pool-group>
            </div>
        </div>

    </div>
</section>