<div class="card">
    <header class="card-header">
        <div class="card-header-title column">
            <p>{{poolGroupModel.coin.name}}</p>
            <div class="field is-grouped is-grouped-multiline">
                <div class="control">
                    <div class="tags has-addons">
                        <span class="tag is-dark icon"><i class="far fa-globe"></i></span>
                        <span class="tag">{{poolGroupModel.pool.shortlocation}}</span>
                    </div>
                </div>

                <div class="control">
                    <div class="tags has-addons">
                        <span class="tag is-dark icon"><i class="far fa-dna"></i></span>
                        <span class="tag">{{poolGroupModel.algo.name}}</span>
                    </div>
                </div>
            </div>
        </div>
        <a [routerLink]="routes.poolIdRoute.toUrl(urlParameters)" class="card-header-icon" aria-label="go to pool">
              <span class="icon">
                <i class="far fa-angle-right" aria-hidden="true"></i>
              </span>
        </a>
    </header>
    <div class="card-content">
        <div class="content">
            <div class="pool-stats">
                <h4>Pool stats</h4>
                <p>
                    <span>Hashrate: {{poolGroupModel.poolStats?.hashrate | hashrate:poolGroupModel.algo.hashUnit:'unavailable'}}</span><br>
                    <span>Miners: {{poolGroupModel.poolStats?.getActiveMinersCount()}}</span><br>
                    <br>
                </p>
            </div>
            <div class="network-stats">
                <h4>Network stats</h4>
                <p>
                    <span>Difficulty: {{poolGroupModel.poolStats?.difficulty | difficulty:'unavailable'}}</span><br>
                    <span>Block height: {{poolGroupModel.poolStats?.blockHeight}}</span><br>
                    <span>Net Hash: {{poolGroupModel.poolStats?.networkHashrate | hashrate:poolGroupModel.algo.hashUnit}}</span><br>
                    <br>
                </p>
            </div>
            <div class="modal" [class.is-active]="minersModal">
                <div class="modal-background" (click)="minersModal=false"></div>
                <div class="modal-content">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Address</th>
                            <th>Hashrate</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Address</th>
                            <th>Hashrate</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr *ngFor="let miner of poolGroupModel.poolStats?.getActiveMiners()">
                            <th>{{miner.address}}</th>
                            <th>{{miner.hashrate | hashrate:poolGroupModel.algo.hashUnit}}</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button class="modal-close is-large" aria-label="close" (click)="minersModal=false"></button>
            </div>
        </div>
    </div>
    <footer class="card-footer">
        <!--a href="#" class="card-footer-item">Blocks</a-->
        <a (click)="minersModal=true" class="card-footer-item">Miners</a>
        <!--a href="#" class="card-footer-item">Stats</a-->
    </footer>
</div>
