<!-- nav -->
<nav class="navbar is-light">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://chainaxe.io">
                <img src="/chainaxe_txt.svg" alt="ChainAxe">
            </a>
            <div class="navbar-burger burger" [class.is-active]="isActive" (click)="toggleNavbar()"
                 data-target="navMenuColorprimary-example">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navMenuColorprimary-example" class="navbar-menu" [class.is-active]="isActive">
            <div class="navbar-start">
                <a class="navbar-item" routerLink="/home" routerLinkActive="is-active">
                    Home
                </a>
                <a class="navbar-item" routerLink="/pool" routerLinkActive="is-active">
                    Pools
                </a>
                <a class="navbar-item">
                    Blog
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">

                </div>
            </div>
        </div>
    </div>
</nav>
<!-- /nav -->
<router-outlet [routes]="routes.all"></router-outlet>
<!-- footer -->
<footer class="footer">
    <div class="container">
        <div class="content">
            <p>
                <strong>ChainAxe</strong>&nbsp;- Crypto education and mining pools.
            </p>
            <p>
                Copyright &copy; 2017 - {{currentYear}} ChainAxe & Alexander Haslam
            </p>
        </div>
    </div>
</footer>
<!-- /footer -->
