@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);
@import "package:font_awesome/scss/font-awesome";
$navbar-item-color: rgba(255,0,0,1);
@import "package:bulma_sass/scss/bulma";

#bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  #is-stripy {
    position: absolute;
    top: -25vh;
    bottom: -25vh;
    left: -25vw;
    right: -25vw;
    background: linear-gradient(45deg, #f1fefa, #0d6cb0);
  }
}

.card, .modal-content {
  border-radius: 5px;
}